<div *ngFor="let result of results">
  <wap-weather-card [data]="result" (onclick)="navigate($event)"></wap-weather-card>
</div>
  <wap-weather-card [addCard]="true" (onclick)="navigate($event)"></wap-weather-card>