  <div matRipple *ngIf="!addCard" class="weather-card" (click)="clickCard(data.name)">
    <div class="header">{{data.name | uppercase}}</div>
    <div class="icon" [ngClass]="data.icon"></div>
    <div class="temperature">{{data.temp | number:'1.0-0'}}&deg;</div>
    <div class="main">{{data.main | uppercase}}</div>
    <div class="min-max">
      <div class="down">
        <mat-icon>arrow_drop_down</mat-icon>
        <div class="temp">{{data.tempMin | number:'1.0-0'}}</div>
        <div>Min</div>
      </div>
      <div class="up">
        <mat-icon>arrow_drop_up</mat-icon>
        <div class="temp">{{data.tempMax | number:'1.0-0'}}</div>
        <div>Max</div>
      </div>
    </div>
  </div>

  <div matRipple *ngIf="addCard" class="weather-card" (click)="clickCard('add')">
    <div class="header">ADD CITY</div>
    <div class="plus"></div>
    <div class="city"></div>
  </div>
