.weather-card {
  width: 300px;
  height: 480px;
  margin: 30px;
  padding: 20px;
  border-radius: 28px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(96, 113, 243, 0.2);
  -moz-box-shadow: 0px 0px 25px 0px rgba(96, 113, 243, 0.2);
  box-shadow: 0px 0px 25px 0px rgba(96, 113, 243, 0.2);
  text-align: center;

  &.dark {
    background: linear-gradient(to bottom, #711B86, #00057A);
    color: white;
    .min-max .temp {
        color: white;
      }
  }

  .header {
    font-size: 24px;
  }
  .temperature {
    font-size: 50px;
  }

  .main {
    font-size: 20px;
  }

  .min-max {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    line-height: 0.5;
    margin: 10px 0px;

    .mat-icon {
      height: 50px;
      width: 50px;
      font-size: 50px;
    }

    .temp {
      color: black;
    }

    .down {
      color: #00ff9b;
      div:nth-child(3) {
        padding-top: 20px;
        font-size: 14px;
      }
    }
    .up {
      color: #ff0000;
      div:nth-child(3) {
        padding-top: 20px;
        font-size: 14px;
      }
    }
  }
}

.icon {
  height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 45px 0px;
  &.rain {
    background-image: url("/assets/icons/rain.svg");
  }
  &.cloudy {
    background-image: url("/assets/icons/cloudy.svg");
  }
  &.storm {
    background-image: url("/assets/icons/storm.svg");
  }
  &.sun {
    background-image: url("/assets/icons/sun.svg");
  }
}

.plus {
  background-image: url("/assets/icons/plus.svg");
  height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 25px;
}

.city {
  background-image: url("/assets/icons/city.svg");
  height: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
