<mat-sidenav-container class="example-container">

  <mat-sidenav #drawer mode="push" role="navigation">
      <mat-nav-list>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <a mat-list-item routerLink='/app/dashboard' routerLinkActive="active">Dashboard Page</a>
          <a mat-list-item routerLink='/app/add' routerLinkActive="active">Add Page</a>
          <a mat-list-item routerLink='/app/details' routerLinkActive="active">Details Page</a>
          <a mat-list-item routerLink='/blabla'routerLinkActive="active">Going nowhere</a>
        </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      WeatherApp
      <span class="example-fill-remaining-space"></span>
      {{ today | date:'mediumDate' }}
      <span class="example-fill-remaining-space"></span>
      <mat-slide-toggle [labelPosition]="'before'">
        <div>Light</div>
        <div>Dark</div>
      </mat-slide-toggle>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>