.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content .dark {
  background: linear-gradient(to bottom, #B290FF, #2E1D65);
}

.active {
  color: red;
}

mat-toolbar-row {
  -webkit-box-shadow: 0px -78px 158px 30px rgba(96,113,243,0.52);
  -moz-box-shadow: 0px -78px 158px 30px rgba(96,113,243,0.52);
  box-shadow: 0px -78px 158px 30px rgba(96,113,243,0.52);
  z-index: 2;
}


.example-card {
  width: 250px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.left, .right {
  width: 100px;
  div {
    font-size: 14px;
  }
}
wap-dashboard {
  background: red;
}